*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.banner-img{
    background: url('../image/men-cosmetic-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}
.women-fashion-banner-img{
    background: url('../image/women-fashion/women-fashion-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}
.men-perfume-banner-img{
    background: url('../image/perfume/perfume-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}
.men-accessories-banner-img{
    background: url('../image/men-accssories/men-accessories-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}
.women-accessories-perfume-banner-img{
    background: url('../image/women-accessories-perfume/women-accessories-perfume-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}
.thai-mart-banner-img{
    background: url('../image/thai-mart/thai-mart-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
  
}

.banner-img h1,
.women-fashion-banner-img h1,
.men-perfume-banner-img h1,
.men-accessories-banner-img h1,
.women-accessories-perfume-banner-img h1,
.thai-mart-banner-img h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Volkhov;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.div-size{
    width: 320px;
    position: relative;
   
}

.div-size:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
}
.div-size img{
    width: 100%;
}
.hover-visible{
    opacity: 0;
}
.hover-visible:hover{
    opacity: 1;
    cursor: pointer;
}
h4, p{
    color: #484848;
}
a{
    text-decoration: none!important;
    color: inherit;
    color: #484848!important;
}

.div-size span {
    position: absolute;
    font-size: 30px;
    right: 5%;
    top: 3%;
} 
.view-all{
    text-align: center;
}
.view-all button{
    
    padding: 11px 61px 11px 60px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(108deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);

box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);
outline: none!important;
border: none;
border-radius: 8px;

   
}