
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');


 @import url('https://fonts.cdnfonts.com/css/digital-numbers');

                


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* Menu bar CSS */

.navbar-brand img {
  width: 80px;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 1.1em;
  padding: 0.5em 1em;
}
.navbar-dark .navbar-toggle{
  color: #000;
}
@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}


.shopping-button button{
    padding: 11px 61px 11px 60px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(108deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);

box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);
outline: none!important;
border: none;
border-radius: 8px;
}

.div-left{
    background-color: #FBFAF6;;
}


.img-div{
    position: relative;
}

.img-2{
    position: absolute;
    bottom: 13%;
    right: 15%;
}

@media (max-width: 768px){
    .div-left h1{
        font-size: 1.5rem;
    }
    .img-2{
        position: absolute;
        bottom: -74%;
        right: 30%;
    }
}

.section-2-left, .section-2-right{
    position: relative;
}
.section-2-left-content-align{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
}
.section-2-right-content-align{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
}
.section-2-left-content-align h2,
.section-2-right-content-align h2{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    margin-right: 10px;

}

.section-2-left-content-align i,
.section-2-right-content-align i{
    color: #fff;
    font-size: 2vw;
}
.section-2-left-content-align a,
.section-2-right-content-align a{
   text-decoration: none;
}

.section-3
{
    position: relative;
    text-align: center;
}

.content-align-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.content-align-1 h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3.3vw;
    margin-right: 10px;
}

.content-align-1 i
{
    color: #fff;
    font-size: 2vw;
}

.content-div{
    background-color: #000;
    color: #fff;
    width: 100%;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2px;
    grid-auto-flow: dense;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }



  .gallery-3{
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
   
  }

.gallery-section{
    margin-top: 100px!important;
    margin-bottom: 100px;
}
 .treding-title{
    font-size: 3.5rem;
    width: 60%;
    margin: 50px auto;
    font-family: 'Volkhov', serif;
 }

#days, #hours, #minutes, #seconds{
    font-family: 'Digital Numbers', sans-serif;
                                                
}

.font-style{
    font-family: 'Volkhov', serif;
    font-size: 2.5rem;
}

@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }

  .shoes-n-jacket-section{
   margin-block: 100px;
  }
  .shoes-bg-color{
    background-color: #D9C9B2;
    max-height: 400px;
  }
  .shoes-font-size{
    font-size: 3.5rem;
    font-family: 'Volkhov', serif;
  }
  .jaket-div{
    max-height: 400px;
  }
  .jaket-div h1{
    /* background: linear-gradient(93deg, #B18B26 22.28%, #F5E590 63.98%, #CAAC26 102.23%);
    -webkit-background-clip: text; */
    font-size: 3rem;
    background: -webkit-linear-gradient(93deg, #B18B26 22.28%, #F5E590 63.98%, #CAAC26 102.23%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .breadcrumb{
    padding: 0.5rem 0!important;
  }
  .gallary-section{
    margin-block: 200px;
  }

   /* Product category filter CSS  */
  /****************/
  .product-category-section{
    margin-top: 150px;
  }
  .post-img img{
    width: 100%;
  }
.main-container{
  /* width: 90vw; */
  margin: 0 auto;
  padding: 40px 0;
}
.main-container > h2{
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}
.main-container > p{
  font-weight: 300;
  padding: 10px 0;
  opacity: 0.7;
  text-align: center;
}
.category-head{
  margin: 30px 0;
}
.category-head ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-title{
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content:center;
  background: #FAFAFA;
  padding: 6px;
  color: #8A8A8A;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
/* .category-title:hover{
  opacity: 0.7;
} */
.category-title li{
  padding: 0 10px;
}
.category-title span{
  color: #222;
}

/** single post **/
.posts-main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.posts-main-container > div{
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img{
  position: relative;
}
.category-name{
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.business .category-name{
  background: #00a7ea;
}
.culture .category-name{
  background: #f03250;
}
.politics .category-name{
  background: #f0544f;
}
.finance .category-name{
  background: #2c2a4a;
}
.sports .category-name{
  background: #a1e44d;
}


.post-content{
  padding: 25px;
}
.post-content-top{
  padding: 5px 0 5px 15px;
}
.post-content-top span{
  padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
  padding-right: 5px;
}
.post-content h2{
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}
.post-content p{
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
}






/***************/
@media(max-width: 1170px){
  .posts-main-container{
      grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 768px){
  .posts-main-container{
      grid-template-columns: 1fr;
  }
}


/***********/

.active{
  background: #222222;
}



#slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 150px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}




#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}



/* Testimonial Css function */

.cd__main{
  display: block !important;
  background: #ddfcf5 !important;
  min-height: 450px;
 height: 100vh;
}
.container {
width: 100%;
height: 100%;
}
.card {
background-color: #f9fafe;
width: 550px;
height: 45%;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
padding: 30px 0 0 0;
transition: transform 400ms;
opacity: 0.5;
box-shadow: none;
}

.quote-icon {
position: absolute;
z-index: 0;
opacity: 0.05;
left: 3%;
top: 0;
}

.avatar {
width: 120px;
height: 120px;
border-radius: 150px;
border: 5px solid #f9fafe;
box-shadow: 0 0 50px #ccc;
position: absolute;
top: 0;
left: 50%;
transform: translate(-60px, -60px);
z-index: 1;
}

.header {
margin: 50px 0 0 0;
text-align: center;
z-index: 1;
}

.name {
font-family: "Hammersmith One", sans-serif;
text-transform: uppercase;
font-size: 22px;
margin: 0;
}

.title {
font-family: "Hammersmith One", sans-serif;
text-transform: uppercase;
font-size: 14px;
font-weight: 400;
margin: 5px 0 0 0;
padding: 0 5px;
color: #7ccdc5;
}

.quote-container {
margin: 0;
height: 100%;
z-index: 1;
padding: 15px 30px 30px 30px;
overflow: hidden;
}

.quote {
width: 100%;
height: 95%;
font-family: "Poppins", sans-serif;
font-size: 12px;
text-align: center;
color: #73808c;
margin: 0;
}

.swiper {
width: 100%;
height: 100%;
}

/* .swiper-slide {
display: flex !important;
justify-content: center;
align-items: center;
} */

.swiper-slide-active {
z-index: 1;
}

.swiper-slide-active .card {
box-shadow: 0 8px 30px -7px #c9dff0;
opacity: 1;
transform: scale(1.5);
}

.swiperr {
margin-left: auto;
margin-right: auto;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
outline: none;
}

@media (max-height: 400px) {
.header {
  margin: 40px 0 0 0;
}
.name {
  font-size: 12px;
}
.title {
  font-size: 10px;
}
.quote-container {
  padding: 5px 20px 20px 20px;
}
.quote-icon {
  width: 75px;
  height: 75px;
}
.avatar {
  width: 100px;
  height: 100px;
  transform: translate(-50px, -50px);
}
}


/* footer css */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {

position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}

.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #222;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #222;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #222;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.footer-social-icon a{
  text-decoration: none;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}

.footer-widget-heading h3 {
color: #000;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #000;
}
/* .footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
} */

.footer-widget ul li{
  list-style: none;
}
.footer-widget ul{
padding-left: 0!important;
}
.footer-widget ul li a:hover{
color: #878787;
}
.footer-widget ul li a {
color: #000;
text-transform: capitalize;
text-decoration: none;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #f8f8f8;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #222;
  padding: 13px 20px;
  border: 1px solid #222;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #E9E9E9;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #222;
}
.copyright-text p a{
color: goldenrod;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #878787;
}
.footer-menu li a {
font-size: 14px;
color: #222;
text-decoration: none;
}
