*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.img-fit img{
    object-fit: cover;
}

.img-card{
    position: absolute;
    transform: translateY(-120%);
    left: 40%;
    z-index: 2;
    background: rgba( 255, 255, 255, 0.60 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.buy-now{
    text-align: center;
}
.buy-now button{
    
    padding: 11px 61px 11px 60px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(108deg, #CAAC26 17.48%, #F5E590 36.87%, #B18B26 79.92%);

box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);
outline: none!important;
border: none;
border-radius: 8px;
 
}

.left{
    padding: 15px 15px 100px 15px;
    margin-top: 16px!important;
    margin-right: 50px;
}

.div-size{
    width: 320px;
    position: relative;
   
}

.div-size:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
}
.div-size img{
    width: 100%;
}
.hover-visible{
    opacity: 0;
}
.hover-visible:hover{
    opacity: 1;
    cursor: pointer;
}
h4, p{
    color: #484848;
}
a{
    text-decoration: none!important;
    color: inherit;
    color: #484848!important;
}

.div-size span {
    position: absolute;
    font-size: 30px;
    right: 9%;
    top: 3%;
    color: #fff;
} 
.glass-morphin{
    width: 18rem;
}



